  <%= form_for(@post,html: {multipart: true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="picture">
    <%= f.file_field :picture,accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <div class="radiobottons">
    <label><%= f.radio_button :winecolor, "赤ワイン" %>赤ワイン</label>
    <label><%= f.radio_button :winecolor, "白ワイン" %>白ワイン</label>
    <label><%= f.radio_button :winecolor, "ロゼワイン" %>ロゼワイン</label>
    <label><%= f.radio_button :winecolor, "スパークリングワイン" %>スパークリングワイン</label>
  </div>

  <div class="sliders">
    <%= f.range_field :sweetness, :in => 0..100, :step => 1,:name => "slider" %>
    <%= f.range_field :depth, :in => 0..100, :step => 1%>
    <!-- <input id="sweet" type="text" name="slider" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels='["$0", "$100", "$200", "$300", "$400"]'>
    <input id="depth" type="text" name="slider" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels='["$0", "$100", "$200", "$300", "$400"]'> -->
  </div>
  <div class="field">
    <%= f.text_area :wine, placeholder: "感想レビュー" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>




<script type="text/javascript">
  $('#post_picture').bind('change', function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    if(size_in_megabytes > 5){
      alert('file > 5MB error');
    }
  })

  $("#sweet").slider({
    ticks: [0, 100, 200, 300, 400],
    ticks_labels: ['甘い', '', '', '', '辛い'],
    ticks_snap_bounds: 30
  });
  $("#depth").slider({
    ticks: [0, 100, 200, 300, 400],
    ticks_labels: ['スッキリ', '', '', '', '濃い'],
    ticks_snap_bounds: 30
  });

</script>
